body, html {
  font: normal 13px arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

section {
  width: 550px;
}

h1 {
  background: #4A4A4A url('/img/icon48.png') 5px -7px no-repeat;
  color: #eee;
  text-align: center;
  margin: 0;
  padding: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 5px;
  background-color: #efefef;
  margin: 5px 0;
  height: 30px;
}

li.new {
  background-color: #F9EDBE;
}

li:hover {
  background-color: #ccc;
}

a {
  color: #444;
}

a:hover {
  color: red;
}

li  span img {
  float: left;
  width: 30px;
  height: 30px;
}

li  span {
  margin-left: 10px;
  line-height: 30px;
}